@using Products_Web.Data.Constants
@using Products_Web.Models.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if(User.Identity?.IsAuthenticated ?? false){
@model IEnumerable<PullUpViewModel>

    <h2>PullUp</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
        @if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole(UserRoles.Admin.ToString()))
        {
            <div class="mb-3">
                <button type="button" onclick="window.location.href='/PullUp/Create';">Create PullUp</button>
            </div>
        }
    <tbody>
        @foreach (var pullup in Model)
        {
            <tr>
                    <th>@pullup.Name</th>
                    <th>@pullup.Difficulty</th>
                    <th>@pullup.Type</th>
                    @if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole(UserRoles.Admin.ToString()))
                    {
                        <th>
                            <button>
                        @*Product - ProductController; Edit - Edit Action in ProductController*@
                        <a 
                            asp-controller="PullUp"
                            asp-action="Edit"
                            asp-route-id="@pullup.Id">
                            Edit
                        </a>
                    </button>
                    <button>
                        <a  asp-controller="PullUp"
                            asp-action="Delete"
                            asp-route-id="@pullup.Id">
                            Delete
                        </a>
                    </button>
                </th>
                }
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <h2 class="error">You can't access this page if you aren't logged in.</h2>
}
